.filters {
    display: flex;
    flex-direction: row;
    width: 100%;

    section {
        flex-grow: 1;
        margin: 0.25rem;
       

        label {

        }

        select, input {
            width: 100%;
        }

    }
}